body {
  background-image: url('1620215065_3-phonoteka_org-p-belii-fon-bez-risunka-gorizontalnaya-3.jpg');
  background-repeat: no-repeat;
  background-position: 0% 10%;
  background-size:cover;
}