body.home {
  background-image: url('1620215065_3-phonoteka_org-p-belii-fon-bez-risunka-gorizontalnaya-3.jpg');
  background-repeat: no-repeat;
  background-position: 0% 10%;
  background-size:cover;
}
body.igra{
  background-image: url('scale_1200.jpg');
  background-repeat: no-repeat;
  background-position: 0% 10%;
  background-size:cover;

}
div.wrapper {
  display: flex;
  justify-content: space-between;

}

img {
  width: 50%;
}

a { 
    text-decoration: none;
} 
a:hover {
  text-decoration: underline;
}

head.1{
text-decoration:  underline;
color: #ffffff;


 }